<p id="notice"><%= notice %></p>

<p>
  <strong>Pasillo:</strong>
  <%= @shelf.pasillo %>
</p>

<p>
  <strong>Levels:</strong>
  <%= @shelf.levels %>
</p>

<%= link_to 'Edit', edit_shelf_path(@shelf) %> |
<%= link_to 'Back', shelves_path %>
